
services: 
    airflow:
        build: . # cd .
        ports: 
            - "8080:8080" 
        volumes:
            - ./airflow_data:/usr/local/airflow
            - ./dags:/usr/local/airflow/dags #code mount
            
        environment: 
            - AIRFLOW__CORE__LOAD_EXAMPLES=False 
        command: > 
            bash -c "airflow db init && airflow users create --username ${_ADMIN_USER} --firstname ${_ADMIN_FIRSTNAME} --lastname ${_ADMIN_LASTNAME} --role Admin --email ${_ADMIN_EMAIL} --password ${_ADMIN_PASSWORD} && airflow webserver & airflow scheduler"
